:root {
    --primary-bg: #90EE90;
    --secondary-bg: #2AAA8A;
    --accent-bg: #98FB988;
    --primary-text: #444;
    --standard-gap: 40px;
}

header {
    
    background-color: var(--secondary-bg);
}
main{
    background-color: var(--primary-bg);
}

footer{
    background-color:var(--accent-bg) ;
}